@charset "UTF-8";
ul, li, h1, h2, h3, h4, h5, h6, p, div, a {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

ul, li, h1, h2, h3, h4, h5, h6, p, div, a {
  text-decoration: none;
}

#my-player .icon.fold-bt {
  background: url(images/player_bg.png);
  background-position: 0 0;
  cursor: pointer;
}

#my-player .icon.open-list {
  background: url(images/player_bg.png);
  background-position: -222px -97px;
}

#my-player .icon.btn-lyrics {
  background: url(images/player_bg.png);
  background-position: -452px 0;
}

#my-player .icon.music-radio {
  background: url(images/player_bg.png);
  background-position: -453px -55px;
}

#my-player .icon.btn-like {
  background: url(images/player_bg.png);
  background-position: 0 -127px;
}

#my-player .icon.btn-share {
  background: url(images/player_bg.png);
  background-position: -16px -127px;
}

#my-player .icon.prev-btn {
  background: url(images/player_bg.png);
  background-position: -69px 0;
}

#my-player .icon.play {
  background: url(images/player_bg.png);
  background-position: -295px -97px;
}

#my-player .icon.next-btn {
  background: url(images/player_bg.png);
  background-position: -147px 0;
}

#my-player .icon.play-btn {
  background: url(images/player_bg.png);
  background-position: -105px 0;
}

#my-player .icon.cycle-btn {
  background: url(images/player_bg.png);
  background-position: -219px 0;
}

#my-player .icon.volume-cha {
  width: 28px;
  height: 24px;
  margin-left: -5px;
  float: left;
  background: url(images/player_bg.png);
  background-position: -147px -63px;
}

#my-player .icon.volume-icon {
  background: url(images/player_bg.png);
  background-position: -189px -3px;
}

#my-player .icon.valume-op {
  background: url(images/player_bg.png);
  background-position: -366px 0;
}

#my-player .icon.close-list {
  background: url(images/player_bg.png);
  background-position: -269px -97px;
}

#my-player {
  width: 536px;
  height: 115px;
  position: fixed;
  bottom: 20px;
  left: -541px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  z-index: 1;
  left: 0;
}

#my-player .fold-bt {
  display: block;
  width: 22px;
  height: 115px;
  border: 0;
  position: absolute;
  top: 0;
  left: 100%;
}

#my-player .my-player-dock {
  width: 541px;
  height: 115px;
  background: #000;
}

#my-player .open-list {
  width: 47px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 61px;
}

#my-player .open-list span {
  width: 24px;
  height: 28px;
  color: #FFF;
  font-family: tahoma;
  font-size: 11px;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  margin-left: 23px;
}

#my-player .btn-lyrics {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  right: 37px;
}

.music-info {
  width: 541px;
  height: 111px;
}

.music-info .music-pic {
  width: 90px;
  height: 90px;
  margin: 10px;
  float: left;
  overflow: hidden;
  background: #0cc65b;
}

.music-info .music-info-main {
  width: 300px;
  font-family: tahoma;
  float: left;
}

.music-info .music-info-main p {
  margin: 5px 0;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.music-info .music-info-main .music-name .music-name-t {
  float: left;
  max-width: 210px;
  color: #fff;
}

.music-info .music-info-main .music-name .music-radio {
  float: left;
  width: 75px;
  height: 20px;
  margin: 0 0 0 10px;
}

.music-info .music-info-main .singer-name {
  color: #828282;
}

.music-info .music-info-main .play-date {
  color: #595959;
}

.music-info .music-info-main .music-op strong {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0 2px 0 0;
  cursor: pointer;
}

.player-bar {
  width: 541px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.player-bar .player-bg-bar {
  width: 100%;
  height: 4px;
  background: #323232;
}

.player-bar .current-bar {
  /*width: 10%;*/
  width: 0;
  transition:width 1s linear;
  height: 4px;
  cursor: pointer;
  background: #0cc65b;
  position: absolute;
  bottom: 0;
  left: 0;
}

.player-bar .progress-bar {
  width: 7px;
  height: 6px;
  position: absolute;
  bottom: -1px;
  /*left: 10%;*/
  left:0;
  transition:left 1s linear;
  z-index: 3;
  background: url(images/progress_op.png);
}

.bar-op {
  width: 280px;
  height: 42px;
  position: absolute;
  top: 43px;
  right: 0;
  bottom: 0;
  left: 248px;
}

.bar-op > li {
  width: 36px;
  height: 28px;
  float: left;
  margin: 7px 0 0 3px;
  cursor: pointer;
}

.bar-op .play-btn {
  width: 42px;
  height: 42px;
  margin-top: 0;
}

.bar-op .volume {
  width: 100px;
  height: 24px;
  margin: 10px 0 0 8px;
  float: left;
}

.bar-op .volume .volume-icon {
  width: 24px;
  height: 24px;
  float: left;
}

.bar-op .volume .volume-regulate {
  width: 71px;
  height: 3px;
  background: #535353;
  float: right;
  margin: 9px 0 5px 5px;
  /*margin: -12px -15px 10px -10px;*/
  position: relative;
  cursor: pointer;
}

.bar-op .volume .volume-regulate .valume-bar {
  /*width: 10%;*/
  width: 0;
  height: 3px;
  background: #8E8E8E;
  position: absolute;
  bottom: 0;
  left: 0;

}

.bar-op .volume .volume-regulate .valume-op {
  width: 6px;
  height: 8px;
  position: absolute;
  top: -4px;
  left: 0;
}

.player-list-frame {
  width: 541px;
  height: 507px;
  position: absolute;
  top: -507px;
  right: 0;
  bottom: 0;
  background: #1b1b1b;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.42);
}

.player-list-frame .play-list-title {
  background: #000;
}

.player-list-frame .play-list-title ul > li a {
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-family: "微软雅黑";
  height: 52px;
  background: #262626;
  line-height: 52px;
  padding: 0 20px;
}

.player-list-frame .play-list-title .clear-list {
  color: #999;
  position: absolute;
  top: 18px;
  right: 31px;
  cursor: pointer;
  font-size: 12px;
}

.player-list-frame .play-list-title .close-list {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
}

.player-list-frame .play-list {
  height: 455px;
  /*overflow: scroll;*/
  position: relative;
  border-top: solid 1px #262626;
  z-index: 1;
}

.player-list-frame .play-list .play-list-main {
  width: 529px;
  /*height: 600px;*/
}

.player-list-frame .play-list .play-list-main li {
  margin: 2px 0 3px 0;
  padding-left: 20px;
  line-height: 24px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.player-list-frame .play-list .play-list-main li:hover{
  background: #000;

}

.player-list-frame .play-list .play-list-main li .music-name {
  display: inline-block;
  vertical-align: top;
  width: 254px;
  overflow: hidden;
}

.player-list-frame .play-list .play-list-main li .singer-name {
  display: inline-block;
  width: 180px;
  overflow: hidden;
}
.player-list-frame .play-list .play-list-main li.play-current{
  /*background:  #0cc65b;*/
  color:#0cc65b;
}

.list_cp .btn_like{
  background-image: url(../images/player_bg.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.list_cp{
  display:none;
  position: absolute;
  top:8px;
  right:10px;
  background: #000;
}
.list_cp strong{
  background-image: url(../images/player_bg.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
.list_cp .btn_like{
  background-position: 0 -127px;
}
.list_cp .btn_share{
  background-position: -16px -127px;
}
.list_cp .btn_fav{
  background-position: -64px -127px;
}

.list_cp .btn_del{
  background-position: -48px -127px;
 margin-right: 0!important;
}
